body {
    background:linear-gradient(to right ,rgb(255, 165, 0),rgb(255, 223, 140),rgb(255, 250, 240));
    background-size: 400% 400%;
    animation: gradient  20s ease-in-out infinite;
    height: 100vh;
}

@keyframes gradient {
    0%,100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}