body{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
}

h1{
    color: rgb(255, 255, 255);  
    background-color: rgba(255, 250, 205, 0.389); 
    display: inline-block; 
    font-size: 2;
    border-radius: 30px;
    text-shadow: 2px 2px 5px rgba(255, 166, 0, 0.707);
    padding: 15px;
    border: solid;
}