body{
    background:linear-gradient(to right ,rgb(255, 240, 190),rgb(220, 190, 140),rgb(140, 70, 30));
    background-size: 400% 400%;
    animation: gradient  20s ease-in-out infinite;
    height: 100vh;

}

@keyframes gradient {
    0%,100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

li {
    font-size: 25px;
}