body{
    background:linear-gradient(to right ,rgb(255, 99, 71),rgb(76, 175, 80),rgb(249, 249, 249));
    background-size: 400% 400%;
    animation: gradient  20s ease-in-out infinite;
    height: 100vh;
    
}

@keyframes gradient {
    0%,100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

li {
    font-size: 25px;
}

#Container {
    border: 5px solid black;
    padding: 10px;
}