body{
    background-color: rgb(245, 245, 220);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
}

.optionCourse{
    color: rgb(51, 51, 51);  
    background-color: rgba(255, 250, 205, 0.389); 
    display: inline-block; 
    font-size: 2;
    border-radius: 30px;
    text-shadow: 2px 2px 5px rgb(255, 166, 0);
    padding: 15px;
    border: solid;
    display: flex;
    justify-content: center;
    
}
.optionCourse:hover{
    color: rgb(210, 105, 30);
    font-size: 2.5;
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 5px ;
}
.optionCourse:active{
    color: rgba(112, 255, 2, 0.549);
    box-shadow: 2px 2px 2px 5px ;
    
 }
 
 
 
 #titlecategories{
    color: rgb(51, 51, 51);  
    
    display: flex;
    justify-content: center;
    font-size: 5;
    border-radius: 30px;
    text-shadow: 2px 2px 5px rgba(255, 166, 0, 0.707);
    padding: 15px;
    border: solid;
    position: relative;
    
 }

 @media (max-width: 600px){
    h1{
       font-size: 1.5rem; 
       
    }
    .optionCourse{
    background-color: rgba(255, 255, 255, 0.747);}
}
 
